body {
  background: #EAE3CB;
}

#art {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  width: 320px;
}
ul {
  margin: 0 auto;
  margin-top:50px;
  padding: 0;
  width: 320px;
}

ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

ul li div.preview {
  position: absolute;
  top: -100px;
  left: 110px;
  z-index: 100;
}

ul li div.preview img {
  max-width: 400px;
  display: block;
  border: 1px solid #FCF4DC;
}